<html>
<head>
  <style>
    body {
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .content {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="content">
    <b> Hello From EnhanceIT</b>

    <h1> This is a webserver running in an EC2 Instance:</h1>
    <h4> Powered by {{ cloud_provider }}</h4>
    
  </div>
</body>
</html>